/*****
 * CSS for bakterie simulator
 *
 * @author Per-Henrik E.Kvalnes
 */
body
{
	background-color:rgb(255,255,255);
	padding:2px;			
	text-align:center;
}

p,h1,h2	
{
	color:#000022;
	font-family:areal;
}

.koloniView
{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	border:2px solid black;
	border-radius:2px;
}

.button
{
	font-size:34px;
				
	margin.top:5px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:20%;
	background-color:#AAAAFF;
	border-radius:5px;

	box-shadow:5px 5px 5px #000;

}
.button:hover
{
	background-color:#444444;
	color:#AAAAFF;
}

#antallLabel
{
	font-size:32px;
}
